In [1]:
chrNum = "chrY"
data <- read.csv(paste(chrNum, "_B_group.csv", sep = ""))
head(data)

  X    binID       start  high medium low
1 5455 chrY_694100 694000  47    0      3
2    2 chrY_694200 694100  12    0      0
3    1 gap 1            0 100  100    100
4    4 chrY_694400 694300  11    0      0
5    5 chrY_694500 694400   9    0      0
6   11 gap 2            0 100  100    100

In [2]:
tail(data)

     X    binID         start    high medium low
1764 1764 gap 551              0 100  100    100
1765 1765 chrY_90828600 90828500  20    0      0
1766 1766 chrY_90828700 90828600  15    0      0
1767 1767 gap 552              0 100  100    100
1768 1768 chrY_90829800 90829700 572  102      9
1769 1769 chrY_90829900 90829800 115   22      0

In [3]:
data <- rbind(data[,-1], data.frame(binID = "gap2132", start = 0, high = 100, medium = 100, low = 100))
tail(data)

     binID         start    high medium low
1765 chrY_90828600 90828500  20    0      0
1766 chrY_90828700 90828600  15    0      0
1767 gap 552              0 100  100    100
1768 chrY_90829800 90829700 572  102      9
1769 chrY_90829900 90829800 115   22      0
1770 gap2132              0 100  100    100

In [4]:
head(data, 10)

   binID       start  high medium low
1  chrY_694100 694000  47    0      3
2  chrY_694200 694100  12    0      0
3  gap 1            0 100  100    100
4  chrY_694400 694300  11    0      0
5  chrY_694500 694400   9    0      0
6  gap 2            0 100  100    100
7  chrY_695100 695000  19   10      0
8  chrY_695200 695100  27   13      0
9  gap 3            0 100  100    100
10 chrY_703100 703000  24    6      0

In [5]:
startID <- data[1, "binID"]
start <- data[1, "start"]
start.flag <- FALSE

result <- data.frame(chr = c(), start = c(), end = c(), ID = c())
temp <- data.frame(chr = substring(startID, 1, 4), start = start, end = c(0), ID = startID)


bed.func <- function(row) {
    if (as.numeric(as.character(row[2])) != 0) {
        start <<- row[2]
        startID <<- row[1]
        if (start.flag == TRUE) {
            temp <<- data.frame(chr = substring(startID, 1, 4), start = start, end = c(0), ID = startID)
            start.flag <<- FALSE
        }
    } else {
        temp$end = as.character(as.numeric(as.character(start)) + 100 - 1)
        result <<- rbind(result, temp)
        start.flag <<- TRUE
    }
}

In [6]:
invisible(apply(data, 1, bed.func))

head(result)

tail(result)

       chr  start    end    ID
1      chrY 694000   694199 chrY_694100
binID  chrY   694300 694499 chrY_694400
binID1 chrY   695000 695199 chrY_695100
binID2 chrY   703000 703199 chrY_703100
binID3 chrY   704500 704699 chrY_704600
binID4 chrY   704800 704999 chrY_704900

         chr  start    end      ID
binID546 chrY 90786600 90786999 chrY_90786700
binID547 chrY 90788100 90788299 chrY_90788200
binID548 chrY 90788600 90788799 chrY_90788700
binID549 chrY 90825500 90825699 chrY_90825600
binID550 chrY 90828500 90828699 chrY_90828600
binID551 chrY 90829700 90829899 chrY_90829800

In [7]:
write.table(result, file = paste(chrNum, "_B_GO.bed"), quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)