In [1]:
data <- read.csv("chrY_A_group.csv")
head(data)

  X    binID       start  high medium low
1 5455 chrY_694100 694000  49    0      1
2    2 chrY_694200 694100   8    0      0
3    1 gap 1            0 100  100    100
4    4 chrY_694400 694300  11    0      0
5    5 chrY_694500 694400  12    0      0
6   11 gap 2            0 100  100    100

In [2]:
tail(data)

     X    binID         start    high medium low
1861 1861 chrY_90828600 90828500   8    0      0
1862 1862 chrY_90828700 90828600  13    0      0
1863 1863 gap 585              0 100  100    100
1864 1864 chrY_90829800 90829700 369   48      3
1865 1865 chrY_90829900 90829800  68   10      0
1866 1866 chrY_90830000 90829900  55    4      1

In [3]:
data <- rbind(data[,-1], data.frame(binID = "gap2132", start = 0, high = 100, medium = 100, low = 100))
tail(data)

     binID         start    high medium low
1862 chrY_90828700 90828600  13    0      0
1863 gap 585              0 100  100    100
1864 chrY_90829800 90829700 369   48      3
1865 chrY_90829900 90829800  68   10      0
1866 chrY_90830000 90829900  55    4      1
1867 gap2132              0 100  100    100

In [4]:
head(data, 10)

   binID       start  high medium low
1  chrY_694100 694000  49    0      1
2  chrY_694200 694100   8    0      0
3  gap 1            0 100  100    100
4  chrY_694400 694300  11    0      0
5  chrY_694500 694400  12    0      0
6  gap 2            0 100  100    100
7  chrY_695100 695000  16    7      0
8  chrY_695200 695100  29    4      0
9  gap 3            0 100  100    100
10 chrY_703100 703000  20    9      0

In [5]:
startID <- data[1, "binID"]
start <- data[1, "start"]
start.flag <- FALSE

result <- data.frame(chr = c(), start = c(), end = c(), ID = c())
temp <- data.frame(chr = substring(startID, 1, 5), start = start, end = c(0), ID = startID)


bed.func <- function(row) {
    if (as.numeric(as.character(row[2])) != 0) {
        start <<- row[2]
        startID <<- row[1]
        if (start.flag == TRUE) {
            temp <<- data.frame(chr = substring(startID, 1, 5), start = start, end = c(0), ID = startID)
            start.flag <<- FALSE
        }
    } else {
        temp$end = as.character(as.numeric(as.character(start)) + 100 - 1)
        result <<- rbind(result, temp)
        start.flag <<- TRUE
    }
}

In [6]:
invisible(apply(data, 1, bed.func))

head(result)

tail(result)

       chr   start    end    ID
1      chrY_ 694000   694199 chrY_694100
binID  chrY_   694300 694499 chrY_694400
binID1 chrY_   695000 695199 chrY_695100
binID2 chrY_   703000 703199 chrY_703100
binID3 chrY_   703600 703799 chrY_703700
binID4 chrY_   704500 704699 chrY_704600

         chr   start    end      ID
binID579 chrY_ 90786600 90786999 chrY_90786700
binID580 chrY_ 90788100 90788299 chrY_90788200
binID581 chrY_ 90788600 90788999 chrY_90788700
binID582 chrY_ 90825500 90825699 chrY_90825600
binID583 chrY_ 90828500 90828699 chrY_90828600
binID584 chrY_ 90829700 90829999 chrY_90829800

In [7]:
write.table(result, file = "chrY_A_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)