In [1]:
chrNum = "chrX"
data <- read.csv(paste(chrNum, "_B_group.csv", sep = ""))
head(data)

  X     binID        start   high medium low
1 40036 chrX_3050400 3050300  58    0      0
2     2 chrX_3050500 3050400  86    6      0
3     1 gap 1              0 100  100    100
4     4 chrX_3054300 3054200 108   37      4
5     5 chrX_3054400 3054300  68   16      0
6    11 gap 2              0 100  100    100

In [2]:
tail(data)

      X     binID          start     high medium low
9997  13738 gap 3191               0 100  100    100
9998   9998 chrX_170013500 170013400  35    0      0
9999   9999 chrX_170013600 170013500  86    2      0
10000 13739 gap 3192               0 100  100    100
10001 10001 chrX_170674300 170674200 192   26      3
10002 10002 chrX_170674400 170674300  47    3      0

In [3]:
data <- rbind(data[,-1], data.frame(binID = "gap2132", start = 0, high = 100, medium = 100, low = 100))
tail(data)

      binID          start     high medium low
9998  chrX_170013500 170013400  35    0      0
9999  chrX_170013600 170013500  86    2      0
10000 gap 3192               0 100  100    100
10001 chrX_170674300 170674200 192   26      3
10002 chrX_170674400 170674300  47    3      0
10003 gap2132                0 100  100    100

In [4]:
head(data, 10)

   binID        start   high medium low
1  chrX_3050400 3050300  58    0      0
2  chrX_3050500 3050400  86    6      0
3  gap 1              0 100  100    100
4  chrX_3054300 3054200 108   37      4
5  chrX_3054400 3054300  68   16      0
6  gap 2              0 100  100    100
7  chrX_3055200 3055100  34    0      0
8  chrX_3055300 3055200  73    6      0
9  gap 3              0 100  100    100
10 chrX_3194500 3194400  18   12      0

In [5]:
startID <- data[1, "binID"]
start <- data[1, "start"]
start.flag <- FALSE

result <- data.frame(chr = c(), start = c(), end = c(), ID = c())
temp <- data.frame(chr = substring(startID, 1, 4), start = start, end = c(0), ID = startID)


bed.func <- function(row) {
    if (as.numeric(as.character(row[2])) != 0) {
        start <<- row[2]
        startID <<- row[1]
        if (start.flag == TRUE) {
            temp <<- data.frame(chr = substring(startID, 1, 4), start = start, end = c(0), ID = startID)
            start.flag <<- FALSE
        }
    } else {
        temp$end = as.character(as.numeric(as.character(start)) + 100 - 1)
        result <<- rbind(result, temp)
        start.flag <<- TRUE
    }
}

In [6]:
invisible(apply(data, 1, bed.func))

head(result)

tail(result)

       chr  start     end     ID
1      chrX 3050300   3050499 chrX_3050400
binID  chrX   3054200 3054399 chrX_3054300
binID1 chrX   3055100 3055299 chrX_3055200
binID2 chrX   3194400 3194599 chrX_3194500
binID3 chrX   3210900 3211199 chrX_3211000
binID4 chrX   3217600 3217799 chrX_3217700

          chr  start     end       ID
binID3186 chrX 169799000 169799199 chrX_169799100
binID3187 chrX 169833300 169833499 chrX_169833400
binID3188 chrX 169865200 169865399 chrX_169865300
binID3189 chrX 169948700 169948999 chrX_169948800
binID3190 chrX 170013400 170013599 chrX_170013500
binID3191 chrX 170674200 170674399 chrX_170674300

In [7]:
write.table(result, file = paste(chrNum, "_B_GO.bed"), quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)