In [1]:
data <- read.csv("chr18_A_group.csv")
head(data)

  X     binID         start   high medium low
1 10049 chr18_3000100 3000000  18   14      3
2     2 chr18_3000200 3000100  53   66     21
3     1 gap 1               0 100  100    100
4     4 chr18_3053100 3053000   9    1      0
5     5 chr18_3053200 3053100  40    9      4
6    11 gap 2               0 100  100    100

In [2]:
tail(data)

     X     binID          start    high medium low
9050 13422 gap 2891              0 100  100    100
9051  9051 chr18_90554000 90553900 126   34      5
9052  9052 chr18_90554100 90554000 136   25      3
9053 13423 gap 2892              0 100  100    100
9054  9054 chr18_90598500 90598400  64   13      5
9055  9055 chr18_90598600 90598500  57   18      1

In [3]:
data <- rbind(data[,-1], data.frame(binID = "gap2132", start = 0, high = 100, medium = 100, low = 100))
tail(data)

     binID          start    high medium low
9051 chr18_90554000 90553900 126   34      5
9052 chr18_90554100 90554000 136   25      3
9053 gap 2892              0 100  100    100
9054 chr18_90598500 90598400  64   13      5
9055 chr18_90598600 90598500  57   18      1
9056 gap2132               0 100  100    100

In [4]:
head(data, 10)

   binID         start   high medium low
1  chr18_3000100 3000000  18   14      3
2  chr18_3000200 3000100  53   66     21
3  gap 1               0 100  100    100
4  chr18_3053100 3053000   9    1      0
5  chr18_3053200 3053100  40    9      4
6  gap 2               0 100  100    100
7  chr18_3064200 3064100 176   32      2
8  chr18_3064300 3064200  63   11      1
9  gap 3               0 100  100    100
10 chr18_3066500 3066400 183   43      5

In [5]:
startID <- data[1, "binID"]
start <- data[1, "start"]
start.flag <- FALSE

result <- data.frame(chr = c(), start = c(), end = c(), ID = c())
temp <- data.frame(chr = substring(startID, 1, 5), start = start, end = c(0), ID = startID)


bed.func <- function(row) {
    if (as.numeric(as.character(row[2])) != 0) {
        start <<- row[2]
        startID <<- row[1]
        if (start.flag == TRUE) {
            temp <<- data.frame(chr = substring(startID, 1, 5), start = start, end = c(0), ID = startID)
            start.flag <<- FALSE
        }
    } else {
        temp$end = as.character(as.numeric(as.character(start)) + 100 - 1)
        result <<- rbind(result, temp)
        start.flag <<- TRUE
    }
}

In [6]:
invisible(apply(data, 1, bed.func))

head(result)

tail(result)

       chr   start    end     ID
1      chr18 3e+06    3000199 chr18_3000100
binID  chr18  3053000 3053199 chr18_3053100
binID1 chr18  3064100 3064299 chr18_3064200
binID2 chr18  3066400 3066599 chr18_3066500
binID3 chr18  3092700 3092899 chr18_3092800
binID4 chr18  3101700 3101899 chr18_3101800

          chr   start    end      ID
binID2886 chr18 90430500 90430699 chr18_90430600
binID2887 chr18 90486700 90486899 chr18_90486800
binID2888 chr18 90496700 90496899 chr18_90496800
binID2889 chr18 90536300 90536499 chr18_90536400
binID2890 chr18 90553900 90554099 chr18_90554000
binID2891 chr18 90598400 90598599 chr18_90598500

In [7]:
write.table(result, file = "chr18_A_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)