In [14]:
# Test
a = data.frame(c(1,2,3), c(4,5,6))
b = data.frame(c(1,5,3), c(4,5,7))
a
b
paste0(a[,1], a[,2])
paste0(b[,1], b[,2])
diff = is.na(match(paste0(a[,1], a[,2]) , paste0(b[,1], b[,2])))
a[diff,]

  c.1..2..3. c.4..5..6.
1 1          4
2 2          5
3 3          6

  c.1..5..3. c.4..5..7.
1 1          4
2 5          5
3 3          7

[1] "14" "25" "36"

[1] "14" "55" "37"

  c.1..2..3. c.4..5..6.
2 2          5
3 3          6

In [11]:
a.go = read.table(file = "A_GO.bed", sep = "\t")
head(a.go)

  V1   V2      V3      V4
1 chr1 3037900 3038099 chr1_3038000
2 chr1 3053400 3053599 chr1_3053500
3 chr1 3059300 3059499 chr1_3059400
4 chr1 3147500 3147699 chr1_3147600
5 chr1 3240600 3240799 chr1_3240700
6 chr1 3274400 3274599 chr1_3274500

In [12]:
b.go = read.table(file = "B_GO.bed", sep = "\t")
head(b.go)

  V1   V2      V3      V4
1 chr1 3037900 3038099 chr1_3038000
2 chr1 3053400 3053599 chr1_3053500
3 chr1 3147500 3147699 chr1_3147600
4 chr1 3151500 3151699 chr1_3151600
5 chr1 3154500 3154699 chr1_3154600
6 chr1 3274400 3274699 chr1_3274500

In [20]:
unique.a = is.na(match(a.go[,4], b.go[,4]))
unique.a.go = a.go[unique.a,]
head(unique.a.go)
tail(unique.a.go)

   V1   V2      V3      V4
3  chr1 3059300 3059499 chr1_3059400
5  chr1 3240600 3240799 chr1_3240700
13 chr1 3573100 3573299 chr1_3573200
16 chr1 3979100 3979299 chr1_3979200
17 chr1 3986200 3986399 chr1_3986300
20 chr1 4188100 4188299 chr1_4188200

      V1   V2       V3       V4
83544 chrY 88714000 88714199 chrY_88714100
83548 chrY 89506400 89506599 chrY_89506500
83554 chrY 90176100 90176299 chrY_90176200
83555 chrY 90192400 90192599 chrY_90192500
83561 chrY 90718600 90718799 chrY_90718700
83562 chrY 90719500 90719699 chrY_90719600

In [21]:
nrow(a.go)
nrow(unique.a.go)

[1] 83571

[1] 36727

In [22]:
write.table(unique.a.go, file = "UNIQUE_A_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)

In [23]:
unique.b = is.na(match(b.go[,4], a.go[,4]))
unique.b.go = b.go[unique.b,]
head(unique.b.go)
tail(unique.b.go)

   V1   V2      V3      V4
4  chr1 3151500 3151699 chr1_3151600
5  chr1 3154500 3154699 chr1_3154600
10 chr1 3311300 3311499 chr1_3311400
13 chr1 3532200 3532399 chr1_3532300
22 chr1 4496700 4496899 chr1_4496800
38 chr1 5019900 5020099 chr1_5020000

      V1   V2       V3       V4
64872 chrY 88273700 88273899 chrY_88273800
64873 chrY 88276000 88276199 chrY_88276100
64880 chrY 89512100 89512299 chrY_89512200
64885 chrY 90098900 90099099 chrY_90099000
64892 chrY 90721200 90721399 chrY_90721300
64896 chrY 90760400 90760599 chrY_90760500

In [24]:
nrow(b.go)
nrow(unique.b.go)

[1] 64902

[1] 18058

In [25]:
write.table(unique.b.go, file = "UNIQUE_B_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)