In [1]:
whole_genome = read.table("chr1_A_GO.bed", sep = "\t")
whole_genome[,1] = substr(whole_genome[,1],1,4)
head(whole_genome)

  V1   V2      V3      V4
1 chr1 3037900 3038099 chr1_3038000
2 chr1 3053400 3053599 chr1_3053500
3 chr1 3059300 3059499 chr1_3059400
4 chr1 3147500 3147699 chr1_3147600
5 chr1 3240600 3240799 chr1_3240700
6 chr1 3274400 3274599 chr1_3274500

In [2]:
for (i in 2:9) {
    filename = paste("chr", as.character(i), "_A_GO.bed", sep = "")
    chr = read.table(filename, sep = "\t")
    chr[,1] = substr(chr[,1], 1, 4)
    whole_genome <- rbind(whole_genome, chr)
}

for (i in 10:19) {
    filename = paste("chr", as.character(i), "_A_GO.bed", sep = "")
    chr = read.table(filename, sep = "\t")
    whole_genome <- rbind(whole_genome, chr)
}

chrX = read.table("chrX_A_GO.bed", sep = "\t")
chrX[,1] = substr(chrX[,1], 1, 4)
whole_genome <- rbind(whole_genome, chrX)
chrY = read.table("chrY_A_GO.bed", sep = "\t")
chrY[,1] = substr(chrY[,1], 1, 4)
whole_genome <- rbind(whole_genome, chrY)

In [3]:
whole_genome[,2] = as.integer(whole_genome[,2])
whole_genome[,3] = as.integer(whole_genome[,3])

In [4]:
write.table(whole_genome, file = "A_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)