In [1]:
whole_genome = read.table("chr1 _B_GO.bed", sep = "\t")
whole_genome[,1] = substr(whole_genome[,1],1,4)
head(whole_genome)

  V1   V2      V3      V4
1 chr1 3037900 3038099 chr1_3038000
2 chr1 3053400 3053599 chr1_3053500
3 chr1 3147500 3147699 chr1_3147600
4 chr1 3151500 3151699 chr1_3151600
5 chr1 3154500 3154699 chr1_3154600
6 chr1 3274400 3274699 chr1_3274500

In [2]:
for (i in 2:9) {
    filename = paste("chr", as.character(i), " _B_GO.bed", sep = "")
    chr = read.table(filename, sep = "\t")
    chr[,1] = substr(chr[,1], 1, 4)
    whole_genome <- rbind(whole_genome, chr)
}

for (i in 10:19) {
    filename = paste("chr", as.character(i), " _B_GO.bed", sep = "")
    chr = read.table(filename, sep = "\t")
    whole_genome <- rbind(whole_genome, chr)
}

chrX = read.table("chrX _B_GO.bed", sep = "\t")
chrX[,1] = substr(chrX[,1], 1, 4)
whole_genome <- rbind(whole_genome, chrX)
chrY = read.table("chrY _B_GO.bed", sep = "\t")
chrY[,1] = substr(chrY[,1], 1, 4)
whole_genome <- rbind(whole_genome, chrY)

In [3]:
whole_genome[,2] = as.integer(whole_genome[,2])
whole_genome[,3] = as.integer(whole_genome[,3])

In [4]:
write.table(whole_genome, file = "B_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)