In [1]:
data <- read.csv("chr14_A_group.csv")
head(data)

  X     binID         start   high medium low
1 26357 chr14_3006400 3006300  19    6      0
2     2 chr14_3006500 3006400  53   18      0
3     1 gap 1               0 100  100    100
4     4 chr14_3048200 3048100  33   34     23
5     5 chr14_3048300 3048200  22   40     31
6    11 gap 2               0 100  100    100

In [2]:
tail(data)

      X      binID           start     high medium low
11643  14293 gap 3701                0 100  100    100
11644 116441 chr14_124731800 124731700  32   11      0
11645 116451 chr14_124731900 124731800  29    2      0
11646  14294 gap 3702                0 100  100    100
11647 116471 chr14_124798900 124798800  40   21      0
11648 116481 chr14_124799000 124798900  10   15      0

In [3]:
data <- rbind(data[,-1], data.frame(binID = "gap2132", start = 0, high = 100, medium = 100, low = 100))
tail(data)

      binID           start     high medium low
11644 chr14_124731800 124731700  32   11      0
11645 chr14_124731900 124731800  29    2      0
11646 gap 3702                0 100  100    100
11647 chr14_124798900 124798800  40   21      0
11648 chr14_124799000 124798900  10   15      0
11649 gap2132                 0 100  100    100

In [4]:
head(data, 10)

   binID         start   high medium low
1  chr14_3006400 3006300  19    6      0
2  chr14_3006500 3006400  53   18      0
3  gap 1               0 100  100    100
4  chr14_3048200 3048100  33   34     23
5  chr14_3048300 3048200  22   40     31
6  gap 2               0 100  100    100
7  chr14_3051100 3051000  32   13      3
8  chr14_3051200 3051100  43   19      2
9  chr14_3051300 3051200 184   39      9
10 gap 3               0 100  100    100

In [5]:
startID <- data[1, "binID"]
start <- data[1, "start"]
start.flag <- FALSE

result <- data.frame(chr = c(), start = c(), end = c(), ID = c())
temp <- data.frame(chr = substring(startID, 1, 5), start = start, end = c(0), ID = startID)


bed.func <- function(row) {
    if (as.numeric(as.character(row[2])) != 0) {
        start <<- row[2]
        startID <<- row[1]
        if (start.flag == TRUE) {
            temp <<- data.frame(chr = substring(startID, 1, 5), start = start, end = c(0), ID = startID)
            start.flag <<- FALSE
        }
    } else {
        temp$end = as.character(as.numeric(as.character(start)) + 100 - 1)
        result <<- rbind(result, temp)
        start.flag <<- TRUE
    }
}

In [ ]:
invisible(apply(data, 1, bed.func))

head(result)

tail(result)

In [ ]:
write.table(result, file = "chr14_A_GO.bed", quote = FALSE, sep = "\t", col.names = FALSE, row.names = FALSE)